<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates is working</title>
</head>
<body>
<h1>welcome to the text analyazer. Enter your text below</h1>
<from action='/analyze' method='post'>
    <textarea id="input_text" style='margin: 0px 438px 0px 0px; height: 151px; width: 1355px;'></textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuation<br>
    <button type='submit'> Analyze Text</button>

    
</from>
</body>
</html>




